.jumbotron{
    background-color: #0096EE;
    color: white;
    height: 20%;
}
.btn{
    background-color: turquoise;
}
footer{
    padding: 10px 10px 0 10px;
    background-color: #0096EE;
    margin-bottom: 0px;
    margin-top: 10px;
    color: white;
}
img{
    height: 20%;
}
a{
    color: white ;
}
.card-hotel{
    flex: 1 150px;
    padding: 10px;
}
.btn-reserva{
    width: 100%;
}